<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Verify Your Email</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif; background-color: #ffffff; color: #333;">

<!--{{>header}}-->
<table style="width: 100%; padding: 12px 35px; background-color: #ffe066; box-sizing: border-box;">
  <tr>
    <td style="font-size: 22px; text-align: left; color: #1a1a1a;">
      <b>LOGO</b>
    </td>
    <td style="text-align: right;">
      <img style="width: 50px; height: 50px;" src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="icon">
    </td>
  </tr>
</table>

<!--{{{body}}}-->
<table style="width: 100%; padding: 45px 35px; box-sizing: border-box;">
  <tr>
    <td style="font-size: 20px; text-align: center; color: #1a1a1a;">
      Hello {{name}}!
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-top: 20px;">
      <p>Please verify your email address to complete your registration.</p>
      <a href="{{frontUrl}}/activate?token={{actionToken}}"
      style="display: inline-block; background-color: #4d91ff; color: white; padding: 12px 30px; border-radius: 5px; text-decoration: none; font-weight: bold; margin-top: 15px;">
      VERIFY EMAIL
      </a>
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-top: 25px; font-size: 14px; color: #555;">
      If the button doesn’t work, copy and paste the following link into your browser:<br>
      <span style="color: #4d91ff;">{{frontUrl}}/activate?token={{actionToken}}</span>
    </td>
  </tr>
</table>

<!--{{>footer}}-->
<table style="width: 100%; padding: 15px 35px; background-color: #ffe066; box-sizing: border-box;">
  <tr>
    <td style="font-size: 14px; text-align: center; color: #1a1a1a;">
      MyCorp - Copyright © 2023
    </td>
  </tr>
  <tr>
    <td style="font-size: 11px; text-align: center;">
      <a href="#" style="color: #4d91ff; text-decoration: underline;">Unsubscribe</a>
    </td>
  </tr>
</table>

</body>
</html>
